.contact {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.contact a {
  color: var(--text-light);
  text-decoration: none;
  transition: all 0.3s;
}

.contact a:hover {
  color: var(--accent);
  text-decoration: underline;
}