.projects {
  background-color: var(--bg-dark);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
}

.project-card {
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--bg-light);
  color: var(--text-light);
  box-shadow: 0 0 10px rbga(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-title-link {
  color: var(--text-light);
  text-decoration: none;
}

.project-title-link:hover {
  text-decoration: underline;
  color: var(--accent);
  transition: color 0.5s;
}