:root {
  --bg-dark: #0f0f10;
  --bg-light: #1f1f21;
  --text-light: #f0f0f0;
  --accent: #00ffe0;
  --muted: #a0a0a0;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-light);
  scroll-behavior: smooth;
}